<h1 class="white-text">Nearby Stores</h1>

<div class="row">
  <% @stores.each do |store| %>
    <div class="col s12 m4">
      <div class="card large">
         <div class="card-image waves-effect z-depth-3 waves-block waves-light">
           <iframe
             width="300"
             height="300"
             frameborder="0" style="border:0"
             src="https://www.google.com/maps/embed/v1/place?key=<%= store.google_embed_key  %>&q=place_id:<%= store.place_id  %>">
           </iframe>
         </div>
         <div class="card-content">
          <div id="store-title">
            <span class="activator grey-text text-darken-4"><p><%= link_to truncate(store.name, length: 30), "/stores/#{store.place_id}" %></p><i class="material-icons right">more_vert</i></span>
          </div>
          <div id="store-info" class="grey-text">
            <span><%= store.street %></span>
            <p><%= store.city %>, <%= store.state %> <%= store.zipcode %></p>
            <% if store.open_now == "Open" %>
               <p class="green-text">Status: <%= store.open_now %></p>
             <% else %>
               <p class="red-text">Status: <%= store.open_now %></p>
             <% end %>
             <p><%= store.display_phone %></p>
           </div>
         </div>
         <div class="card-action">
            <a href="#">link</a>
            <a>Tank Man Rating: </a>
          </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">Review<i class="material-icons right">close</i></span>
          <button class="btn btn-primary">Word</button>
          <br><br>
          Yelp Score: <%= store.yelp_rating %><br>
          Google Score: <%= store.google_rating %>
           <p>
             Well, the way they make shows is, they make one show.
             That show's called a pilot. Then they show that show to
             the people who make shows, and on the strength of that
             one show they decide if they're going to make more shows.
             Some pilots get picked and become television programs. Some
             don't, become nothing. She starred in one of the ones that
             became nothing.
           </p>
           <p>
             Well, the way they make shows is, they make one show. That
             show's called a pilot. Then they show that show to the people
             who make shows, and on the strength of that one show they decide
             if they're going to make more shows. Some pilots get picked and
             become television programs. Some don't, become nothing. She
             starred in one of the ones that became nothing.
           </p>
         </div>
       </div>
    </div>
   <% end %>
 </div>
