<script type="text/javascript">
Highcharts.createElement('link', {
   href: 'https://fonts.googleapis.com/css?family=Unica+One',
   rel: 'stylesheet',
   type: 'text/css'
}, null, document.getElementsByTagName('head')[0]);

Highcharts.theme = {
   colors: ['#2b908f', '#90ee7e', '#f45b5b', '#7798BF', '#aaeeee', '#ff0066', '#eeaaee',
      '#55BF3B', '#DF5353', '#7798BF', '#aaeeee'],
   chart: {
      backgroundColor: {
         linearGradient: { x1: 0, y1: 0, x2: 1, y2: 1 },
         stops: [
            [0, '#2a2a2b'],
            [1, '#3e3e40']
         ]
      },
      style: {
         fontFamily: '\'Unica One\', sans-serif'
      },
      plotBorderColor: '#606063'
   },
   title: {
      style: {
         color: '#E0E0E3',
         textTransform: 'uppercase',
         fontSize: '20px'
      }
   },
   subtitle: {
      style: {
         color: '#E0E0E3',
         textTransform: 'uppercase'
      }
   },
   xAxis: {
      gridLineColor: '#707073',
      labels: {
         style: {
            color: '#E0E0E3'
         }
      },
      lineColor: '#707073',
      minorGridLineColor: '#505053',
      tickColor: '#707073',
      title: {
         style: {
            color: '#A0A0A3'

         }
      }
   },
   yAxis: {
      gridLineColor: '#707073',
      labels: {
         style: {
            color: '#E0E0E3'
         }
      },
      lineColor: '#707073',
      minorGridLineColor: '#505053',
      tickColor: '#707073',
      tickWidth: 1,
      title: {
         style: {
            color: '#A0A0A3'
         }
      }
   },
   tooltip: {
      backgroundColor: 'rgba(0, 0, 0, 0.85)',
      style: {
         color: '#F0F0F0'
      }
   },
   plotOptions: {
      series: {
         dataLabels: {
            color: '#B0B0B3'
         },
         marker: {
            lineColor: '#333'
         }
      },
      boxplot: {
         fillColor: '#505053'
      },
      candlestick: {
         lineColor: 'white'
      },
      errorbar: {
         color: 'white'
      }
   },
   legend: {
      itemStyle: {
         color: '#E0E0E3'
      },
      itemHoverStyle: {
         color: '#FFF'
      },
      itemHiddenStyle: {
         color: '#606063'
      }
   },
   credits: {
      style: {
         color: '#666'
      }
   },
   labels: {
      style: {
         color: '#707073'
      }
   },

   drilldown: {
      activeAxisLabelStyle: {
         color: '#F0F0F3'
      },
      activeDataLabelStyle: {
         color: '#F0F0F3'
      }
   },

   navigation: {
      buttonOptions: {
         symbolStroke: '#DDDDDD',
         theme: {
            fill: '#505053'
         }
      }
   },

   // scroll charts
   rangeSelector: {
      buttonTheme: {
         fill: '#505053',
         stroke: '#000000',
         style: {
            color: '#CCC'
         },
         states: {
            hover: {
               fill: '#707073',
               stroke: '#000000',
               style: {
                  color: 'white'
               }
            },
            select: {
               fill: '#000003',
               stroke: '#000000',
               style: {
                  color: 'white'
               }
            }
         }
      },
      inputBoxBorderColor: '#505053',
      inputStyle: {
         backgroundColor: '#333',
         color: 'silver'
      },
      labelStyle: {
         color: 'silver'
      }
   },

   navigator: {
      handles: {
         backgroundColor: '#666',
         borderColor: '#AAA'
      },
      outlineColor: '#CCC',
      maskFill: 'rgba(255,255,255,0.1)',
      series: {
         color: '#7798BF',
         lineColor: '#A6C7ED'
      },
      xAxis: {
         gridLineColor: '#505053'
      }
   },

   scrollbar: {
      barBackgroundColor: '#808083',
      barBorderColor: '#808083',
      buttonArrowColor: '#CCC',
      buttonBackgroundColor: '#606063',
      buttonBorderColor: '#606063',
      rifleColor: '#FFF',
      trackBackgroundColor: '#404043',
      trackBorderColor: '#404043'
   },

   // special colors for some of the
   legendBackgroundColor: 'rgba(0, 0, 0, 0.5)',
   background2: '#505053',
   dataLabelsColor: '#B0B0B3',
   textColor: '#C0C0C0',
   contrastTextColor: '#F0F0F3',
   maskColor: 'rgba(255,255,255,0.3)'
};

// Apply the theme
Highcharts.setOptions(Highcharts.theme);
</script>

<div class="row">
  <div class="col s9 right">
    <img class="materialboxed" width="100%" src="<%= @tank.image_url %>" style="border-radius: 20px; 20px; z-depth-3; border: 10px double black;">
  </div>
  <div class="col s3 left">
    <div class="card large z-depth-3" style=" background-color:rgba(0, 0, 0, 0.5); border-radius: 20px; 20px;">
      <br><br>
      <h3 class="white-text center"><%= @tank.name %></h3>
      <h5 class="white-text center"><%= @tank.size %> Gallons</h5>
      <h5 class="white-text center"><%= @tank.style %></h5>
      <br><br>
      <div class="center">
        <a class="waves-effect grey darken-4 orange-text btn z-depth-3" style="border-radius: 20px; 20px; width: 175px;">Add Fish</a>
        <a class="waves-effect grey darken-4 orange-text btn z-depth-3" style="border-radius: 20px; 20px; width: 175px;">Add Params</a>
      </div>
    </div>
  </div>
</div>

<br><br>

<h4 class="white-text">Water Parameters</h4>
<div class="row">
  <div id="button-group" class="col s12">
    <a id="ph-button" class="waves-effect grey darken-4 orange-text btn z-depth-3" style="border-radius: 20px; 20px; width: 175px;" onclick="getPh()">Ph</a>
    <a id="ammonia-button" class="waves-effect grey darken-4 orange-text btn z-depth-3" style="border-radius: 20px; 20px; width: 175px;" onclick="getAmmonia()">Ammonia</a>
    <a id="nitrate-button" class="waves-effect grey darken-4 orange-text btn z-depth-3" style="border-radius: 20px; 20px; width: 175px;" onclick="getNitrate()">Nitrates</a>
    <a class="waves-effect grey darken-4 orange-text btn z-depth-3" style="border-radius: 20px; 20px; width: 175px;">Temperature</a>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <div id="graph" data-tank="<%= @tank.id %>" class="center z-depth-4"></div>
  </div>
</div>

<h4 class="white-text">Tankmates</h4>
<div class="row">
  <% @tank.fish.each do |fish| %>
    <div class="col s4 m4">
      <div class="card z-depth-3" style="border-radius: 20px; 20px;">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="<%= fish.image_url %>" style="width: 100%; height: 250px; border-radius: 20px;">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"><%= fish.name %><i class="material-icons right">more_vert</i></span>
          <p>Breed: <%= fish.breed %> </p>
          <p>Temperament: <%= fish.temperament %> </p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Fish Info<i class="material-icons right">close</i></span>
          <p class="grey-text">Scroll down for more information</p>
          <p>Description: <%= fish.description %></p>
          <form action="/fish/<%= fish.id %>/notes" method="post">
            <input type="text" name="note" placeholder="Type Note Here"><br>
            <input type="hidden" name="" value="<%= fish.id %>">
            <input type="submit" value="Add Note">
          </form>
          <br><br>
          <% fish.notes.each do |note| %>
            <%= note.created_at.strftime("%D") %><br>
            <%= note.body %>
            <br><br>
          <% end %>
        </div>
        <div class="card-action" style="border-radius: 20px; 20px;">
          <%= link_to "Delete Fish", user_tank_fish_path(@tank.id, fish.id), method: :delete %>
          <%= link_to "Move Fish", "", method: :put %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<!-- <script type="text/javascript">
$( document ).ready(function() {
    getPh();
});
</script> -->
