<h1 class="white-text">Welcome <%= current_user.name %></h1>

<div class="row">
  <div class="col s6 right">
    <div class="grey darken-3 card large" style="border-radius: 20px">
      <div class="card-content z-depth-3">
        <%= render "/search/search_box" %>
      </div>
    </div>
  </div>
  <div class="col s6 card large left grey darken-3" style="border-radius: 20px; background-image: url('https://i1.wp.com/landoffish.com/wp-content/uploads/2017/03/Nitrate-chart-2.png?fit=610%2C382'); background-size: cover">
  </div>
</div>

<div id="modal1" class="modal grey darken-3" style="border-radius: 20px">
  <div class="modal-content">
    <h4 class="orange-text">New Tank</h4>
    <%= form_for [current_user, @tanks.new_tank] do |f|%>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :size %>
    <%= f.text_field :size %>
    <%= f.label :image_url %>
    <%= f.text_field :image_url %>
    <%= f.label :style %>
    <%= f.select :style, ["Freshwater", "Saltwater", "Reef", "Brackish"] %>
    <br>
    <%= f.label :description %>
    <%= f.text_area :description, :rows => "50", :cols => "500" %>
    <%= f.submit "Add Tank", style: "border-radius: 20px", class: "orange-text grey darken-4 waves-effect btn right"%>
  </div>
  <br><br>
  <% end %>
</div>

<div id="modal3" class="modal grey darken-3" style="border-radius: 20px">
  <div class="modal-content">
    <h4 class="orange-text">New Tank</h4>
    <%= form_for [current_user, @tanks.new_tank, @tanks.new_water_parameters] do |f|%>
    <%= f.label :ph %>
    <%= f.text_field :ph, placeholder: "6.0-9.0" %>
    <%= f.label :ammonia %>
    <%= f.text_field :ammonia, placeholder: "0.0" %>
    <%= f.label :nitrite %>
    <%= f.text_field :nitrite, placeholder: "0.0" %>
    <%= f.label :nitrate %>
    <%= f.text_field :nitrate, placeholder: "< 50 ppm" %>
    <%= f.label :water_change %>
    <%= f.text_field :water_change, placeholder: "20%" %>
    <%= f.submit "Submit", style: "border-radius: 20px", class: "orange-text grey darken-4 waves-effect btn right"%>
  </div>
  <br><br>
  <% end %>
</div>

</div>

 <div class="row">
   <% @tanks.each do |tank| %>
     <div class="col s12 m6">
       <div class="card large" style="border-radius: 20px">
         <div class="card-image">
           <img class="materialboxed z-depth-3" width="650" src="<%= tank.image_url %>" style="border-radius: 20px">
         </div>
         <div class="activator card-content" id="tank-details">
          <a class="orange-text card-title" href="<%= user_tank_path(tank.id) %>"><%= tank.name %><i class="material-icons blue-text right">spa</i></a>
          <p class="activator blue-text"><%= tank.size %> Gallons</p>
          <p class="activator blue-text">Tank Type: <%= tank.style %></p>
          <p class="activator blue-text">Fish Count: 0</p>
         </div>
         <div id="tank-options" class="card-action z-depth-3 grey darken-3" style="border-radius: 20px;">
           <%= link_to "Tank Details", user_tank_path(tank), class: "waves-effect grey darken-4 orange-text btn", style: "border-radius: 20px"%>
           <%= link_to "Add a Fish", user_tank_fish_index_path(tank), class: "waves-effect grey darken-4 orange-text btn", style: "border-radius: 20px"%>
           <%= link_to "Enter Parameters", user_tank_water_parameters_path(tank), class: "waves-effect grey darken-4 orange-text btn", style: "border-radius: 20px", href: "#modal3" %>
         </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">Tank Description<i class="material-icons right">close</i></span>
          <%= button_to "Go to Tank Page", "/user/tanks/#{tank.id}", class: "waves-effect grey darken-3 orange-text btn", method: :get %>
          <br><br>
           <p><%= tank.description %></p>
         </div>
       </div>
     </div>
   <% end %>
 </div>
 <br><br>
