<h1 class="white-text">Welcome <%= current_user.name %></h1>

</div>
<div class="row">
  <div class="col s5 right">
    <div class="grey darken-3 card large" style="border-radius: 20px">
      <div class="card-content z-depth-3">
        <%= render "/search/search_box" %>
      </div>
    </div>
  </div>
  <div class="col s6 card large left grey darken-3" style="border-radius: 20px; background-image: url('https://i1.wp.com/landoffish.com/wp-content/uploads/2017/03/Nitrate-chart-2.png?fit=610%2C382'); background-size: cover">
  </div>
</div>

 <div class="row">
   <% @tanks.each do |tank| %>
     <div class="col s12 m6">
       <div class="card large" style="border-radius: 20px">
         <div class="card-image">
           <img class="materialboxed z-depth-3" width="650" src="<%= tank.image_url %>" style="border-radius: 20px">
         </div>
         <div class="activator card-content" id="tank-details">
          <a class="orange-text card-title" href="<%= user_tank_path(tank.id) %>"><%= tank.name %></a><a><i class="activator material-icons blue-text right">spa</i></a>
          <p class="activator blue-text"><%= tank.size %> Gallons</p>
          <p class="activator blue-text">Tank Type: <%= tank.style %></p>
          <p class="activator blue-text">Fish Count: <%= tank.fish_count %></p>
         </div>
         <div id="tank-options" class="card-action z-depth-3 grey darken-3" style="border-radius: 20px;">
           <%= link_to "Tank Details", user_tank_path(tank), class: "waves-effect grey darken-4 orange-text btn", style: "border-radius: 20px"%>
           <%= link_to "Enter Parameters", user_tank_water_parameters_path(tank), class: "waves-effect grey darken-4 orange-text btn", style: "border-radius: 20px", href: "#modal3" %>
           <button class="waves-effect grey darken-4 orange-text btn z-depth-3 left" style="border-radius: 20px; 20px; width: 175px;" data-target="modal2">Add a Fish</button>
           <%#= link_to "Add a Fish", "", class: "waves-effect grey darken-4 orange-text btn", style: "border-radius: 20px", href: "#modal2"%>

         </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">Tank Description<i class="material-icons right">close</i></span>
          <%= button_to "Go to Tank Page", "/user/tanks/#{tank.id}", class: "waves-effect grey darken-3 orange-text btn", method: :get %>
          <br><br>
           <p><%= tank.description %></p>
         </div>
       </div>
     <div id="modal1" class="modal grey darken-3" style="border-radius: 20px">
       <div class="modal-content">
         <h4 class="orange-text">New Tank</h4>
         <%= form_for [current_user, tank.new_tank] do |f|%>
         <%= f.label :name %>
         <%= f.text_field :name %>
         <%= f.label :size %>
         <%= f.text_field :size %>
         <%= f.label :image_url %>
         <%= f.text_field :image_url %>
         <%= f.label :style %>
         <%= f.select :style, ["Freshwater", "Saltwater", "Reef", "Planted"] %>
         <br>
         <%= f.label :description %>
         <%= f.text_area :description, :rows => "50", :cols => "500" %>
         <%= f.submit "Add Tank", style: "border-radius: 20px", class: "orange-text grey darken-4 waves-effect btn right"%>
       </div>
       <br><br>
       <% end %>
     </div>

     <div id="modal2" class="modal grey darken-3" style="border-radius: 20px">
       <div class="modal-content">
         <h4 class="orange-text">Add Fish To Tank</h4>
         <%= form_for [current_user, tank, tank.new_fish] do |f|%>
         <%= f.label :name %>
         <%= f.text_field :name %>
         <%= f.label :breed %>
         <%= f.text_field :breed %>
         <%= f.label :image_url %>
         <%= f.text_field :image_url %>
         <%= f.label :temperament %>
         <%= f.select :temperament, ["Community", "Semi-Aggressive", "Aggressive"] %>
           <br>
         <%= f.label :description %>
         <%= f.text_area :description, :rows => "50", :cols => "500" %>
         <%= f.submit "Add Fish to Tank", style: "border-radius: 20px", class: "orange-text grey darken-4 waves-effect btn right"%>
       </div>
       <br><br>
       <% end %>
     </div>
     <div id="modal3" class="modal grey darken-3" style="border-radius: 20px">
       <div class="modal-content">
         <h4 class="orange-text">Parameter Input</h4>
         <%= form_for [current_user, tank, tank.new_water_parameters] do |f|%>
         Listed with Ideal Parameters</br></br>

         <%= f.label :ph %>
         <br>Aim for 7.3 - 8.4 (depending on tank type)
         <%= f.text_field :ph %></br>
         <%= f.label :ammonia %>
         <br>Aim for 0.0
         <%= f.text_field :ammonia %>
         <%= f.label :nitrite %>
         <br>Aim for 0.0
         <%= f.text_field :nitrite %>
         <%= f.label :nitrate %>
         <br>Aim for < 50 ppm
         <%= f.text_field :nitrate %>
         <%= f.label :water_change %>
         <br>Aim for 20% of tank volume
         <%= f.text_field :water_change %>
         <%= f.submit "Submit", style: "border-radius: 20px", class: "orange-text grey darken-4 waves-effect btn right"%>
       </div>
       <br><br>
       <% end %>
     </div>
     </div>

   <% end %>
 </div>
 <br><br>
